<!DOCTYPE html>
<html ng-app="diApp">
<head>
  <meta charset="utf-8">
  <title>07-di-provider | Angular.cz</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body>
<!-- Přepínání cvičení - ignorujte @formatter:off--><div style="padding:20px" class="text-center"><a href="/06-di-unit-testing" style="float:left" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> 06-di-unit-testing</a><span class="h3">07-di-provider</span><a href="/08-directive-basic" style="float:right" class="btn btn-default">08-directive-basic<i class="glyphicon glyphicon-chevron-right"></i></a><div class="clearfix"></div><hr class="clearfix"/></div><!-- @formatter:on-->

<div ng-controller="CalculatorCtrl as calculator" class="container col-md-offset-3 col-md-6">
  <h1>Objednávka tisku knihy</h1>

  <div class="well">
    <h2>Velikost</h2>
    <p>
      <label class="radio-inline">
        <input type="radio" ng-model="calculator.product.pageSize" value="A4"/>
        A4
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="calculator.product.pageSize" value="A5"/>
        A5
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="calculator.product.pageSize" value="A6"/>
        A6
      </label>
    </p>

    <h2>Počet stran</h2>
    <p>
      <input type="number" ng-model="calculator.product.numberOfPages" class="form-control"/>
    </p>

    <h2>Cena</h2>
    <p class="lead">
      {{calculator.getPrice()}} Kč
    </p>

  </div>
</div>
</body>
</html>
