p V tomto cvičení si vyzkoušíte routování, vytvoříte routu pro seznam, která načítá data v kontroleru a poté routu pro detail, která získává data ještě před svým zobrazením

h3 1. definujte routu pro OrderListController
ul.task
  li definujte routu pro #[strong OrderListController]
  li pokud je url #[strong /orders] použije se:
  li šablona #[strong orderList.html], controller #[strong OrderListController] as list

solution
  :highlight-js
    $routeProvider
      .when('/orders', {
        templateUrl: 'orderList.html',
        controller: 'OrderListController',
        controllerAs: 'list'
      })

h3 2. zajistěte přesměrování na seznam, i při zadání jiné adresy
ul.task
  li pokud adresa neodpovídá žádné z definovaných rout, přesměruje se na #[strong /orders]

solution
  :highlight-js
    $routeProvider
      ...
      .otherwise('/orders');

h3 3. definujte routu pro OrderDetailController
p Podívejte se na jaké url vedou odkazy na detail objednávky a vytvořte odpovídající routu

ul.task
  li vytvořte definiční objekt pro url ve tvaru #[strong /detail/:id]
  li šablona #[strong orderDetail.html], controller #[strong OrderDetailController] as #[strong detail]
  li v resolve načtěte data z #[strong REST_URI + '/orders/' + id] jako #[strong orderData]
  li id musíte vzít z aktuálních parametrů routy
  li nezapoměňte, že #[strong $http] vám v #[strong then] vrátí #[strong response], ale do kontroleru potřebujete předat jen obsah odpovědi - tedy #[strong response.data]

hint Aktuální parametry routy získáte z #[strong $route.current.params.id]

solution
  :highlight-js
    .when('/detail/:id', {
      templateUrl: 'orderDetail.html',
      controller: 'OrderDetailController',
      controllerAs: 'detail',
      resolve: {
        orderData: function($http, $route, REST_URI) {
          return $http.get(REST_URI + '/orders/' + $route.current.params.id)
            .then(function(response) {
              return response.data;
            });
        }
      }
    })

ul
  li všimněte si rozdílu chování mezi detailem a seznamem

hint
  ul
    li pokud si controller závislost řeší sám, uvidíte probliknutí dat
    li když použijete resolve, controller se zobrazí až když jsou data načtená, čekáte déle, ale nevidíte probliknutí


h3 4. Ukládání záznamu

h4 4.1. vytvořte routu pro vytvoření záznamu
ul.task
  li Vytvořte routu pro url #[strong /create]
  li šablona: #[strong orderCreate.html]
  li controller: #[strong OrderCreateController]
  li controllerAs: #[strong create]

solution
  :highlight-js
    .when('/create', {
      templateUrl: 'orderCreate.html',
      controller: 'OrderCreateController',
      controllerAs: 'create'
    })

h4 4.2. oživte odkaz na vytvoření záznamu
ul
  li.task v #[em orderList.html] upravte odkaz tak, aby směroval na routu vytvoření záznamu

solution
  :highlight-html
    <a class="btn btn-success" href="#/create">Vytvořit</a>

h4 4.3. proveďte uložení záznamu
ul
  li podívejte se na formulář v #[strong orderCreate.html] a na volání metody #[strong save] controlleru
  li.task v metodě #[strong save] odešlete metodou #[strong post] předaný objekt #[strong order] na url #[strong REST_URI + '/orders/']

hint.
  Použijte službu #[strong $http] a její metodu #[strong post(url, data)]

solution
  :highlight-js
    $http.post(REST_URI + '/orders', order)

h4 4.4. po uložení přesměrujte na seznam
ul
  li Pokud uložení skončí úspěšně, přesměrujte na seznam - #[strong /orders]

hint
  p Využijte službu #[strong $location] a její metodu #[strong path].
  p Metody #[strong $http] vrací promise, využijte metodu #[strong then].

solution
  :highlight-js
    $http.post(REST_URI + '/orders', order)
      .then(function() {
        $location.path('/orders');
      });

h3 5. Extra - Spusťte test a ověřte, že vše funguje
p Pro tato cvičení jsou připraveny end to end testy. Pokud Vám funguje protraktor, spustíte je příkazem

snippet.
  npm run test-13-router-e2e

