<h1>Nová objednávka pro uživatele</h1>
<form name="createForm" novalidate ng-submit="createForm.$valid && create.save(create.order)">
  <div class="row col-md-6">
    <p>
      Jméno:
      <input type="text" ng-model="create.order.name" name="name" class="form-control" required/>
    </p>
    <div ng-messages="createForm.name.$error" ng-if="createForm.name.$touched || createForm.$submitted" class="validations">
      <div ng-message="required">Zadejte jméno</div>
    </div>

    <p>
      Email:
      <input type="email" ng-model="create.order.email" name="email" class="form-control" required/>
    </p>
    <div ng-messages="createForm.email.$error" ng-if="createForm.email.$touched || createForm.$submitted" class="validations">
      <div ng-message="required">Zadejte email</div>
      <div ng-message="email">Zadejte platný email</div>
    </div>

    <button class="btn btn-success" type="submit">Uložit</button>
    <a class="btn btn-warning" ng-href="#/orders">Zrušit</a>
  </div>
</form>

