p Tato aplikace je modifikovanou variantou předchozího příkladu.

p Práva k API jsou nastavena tak, abychom mohli jednoduše vyzkoušet reakci na stav #[strong 401].
  ul
    li Nepřihlášený uživatel může objednávky vidět.
    li Přihlášený uživatel může objednávky zakládat měnit a mazat.

p
  | Ovládací prvky jsou zobrazeny po celou dobu a přihlášení je nabídnuto až ve chvíli, kdy je potřeba uživatele autentizovat.
  br
  | Přihlašovací stránku zde tedy nahrazuje vyskakovací okno.

p Cílem příkladu je rozšířit aplikaci o transparentní přihlášení v případě potřeby a reagovat na odepření přístupu.

p Aby se přihlašovací dialog lépe zkoušel, aplikace přihlášení neukládá.

.warning Pokud budete mazat záznamy, mažte, ty, které jste sami vytvořili, data sdílíte s ostatními.

h3 1 - Podívejte se na aplikaci a její chování v konzoli
ul
  li můžete vidět objednávky a přejít na detail
  li v konzoli se objeví #[strong 401], pokud se pokusíte objednávku změnit nebo smazat
  li na stránku Vytvoření uživatele se dostanete, #[strong 401] se objeví až při pokusu o uložení.

h3 2 - Implementace zobrazení modálního okna jako reakci na stavový kód 401
p.
  Protože nechceme obecné chybové kódy ošetřovat pro každé volání zvlášť, využijeme interceptor,
  který bude reagovat pouze pokud požadavek skončí uvedenou chybou.

p.
  V #[em app.js] se je připraven interceptor #[strong authInterceptor].
  HTTP status #[strong  401 Unauthorized] je zotavitelný, všimněte si, jak se vyhodnocuje zotavitelná chyba.

ul.task
  li prohlédněte si metody a implementaci modálního okna #[strong authModal] v #[em service.js]

h4 2.1 - zobrazte modální okno
ul.task
  li pokud je možné se z chyby zotavit, zobrazte v interceptoru pomocí služby #[strong authModal] modální okno
  li využijte metodu #[strong showLoginModal]
  li metoda vrací promise, nezapomeňte výsledek také vrátit

solution
  :highlight-js
    if (isRecoverable(response)) {
      return authModal.showLoginModal();
    }

ul
  li vyzkoušejte, že při pokusu o změnu stavu dojde k zobrazení přihlašovacího okna
  li modální okno už nyní umožní se přihlásit, ale neprovedený požadavek ještě není opakován

h3 3 - Opakováné odeslání požadavku
p.
  Po úspěšném přihlášení, tedy splnění promise modálního okna, můžeme zopakovat původní http požadavek

h4 3.1 - opakovaně odešlete požadavek

hint.
  konfigurace požadavku, na který reaguje interceptor je uložena v #[strong response.config]

ul.task
  li.
    v případě že promise modálního okna dopadne dobře, zopakujte požadavek pomocí volání #[strong $http] a konfigurace požadavku.
    Nezapomeňte vrátit výsledek, abyste nepřerušili řetěz promise.

solution
  :highlight-js
    return authModal.showLoginModal()
      .then(function () {
        return $http(response.config);
    });

h3 4 - Vyzkoušejte chování modálního okna

ul
  li.task vyzkoušejte, že když provedete privilegovanou operaci, zobrazí se modální okno

ul
  li.task nejprve zadejte špatné přístupé údaje a poté se přihlašte správně. Při správném přihlášení je požadavek zopakován.

ul
  li.task odhlašte se a přejděte na stránku vytvoření záznamu. Při snaze o uložení dojde k zobrazení modálního okna
  li přesně takto by se aplikace zachovala i v případě vypršení přihlášení

h3 5 - Kontrola oprávnění pro vytvoření záznamu
p.
  Uživatel, který nemůže vytvořit záznam, by také neměl mít přístup na stránku vytvoření záznamu.
  Nejde o bezpečnostní problém - REST API nedovolí uložení dat,
  ale z hlediska použitelnsoti je chybou uživateli odkaz a stránku zobrazovat. Před vstupem na tuto stránku tedy necháme uživatele přihlásit.

h4 5.1 - zobrazte modální okno pro přihlášení

p.
  V nastavení routeru pro #[strong /create] (#[em app.js]) je připravena závislost #[strong isAuthorized].
  Zatím pouze vrací informaci, jestli je uživatel přihlášen.

ul
  li.task dopište do výrazu kontrolu přihlášení a zobrazení modálního okna - uživatel je přihlášen - #[strong authService.isAuthenticated()] nebo se musí přihlásit - #[strong authModal.showLoginModal()]

hint.
  využijte toho jak se vyhodnocuje operátor #[strong ||] v javascriptu

solution
  :highlight-js
    isAuthorized: function (authService, authModal) {
      return authService.isAuthenticated() || authModal.showLoginModal();
    }

h4 5.2 - reagujte na zprávu $routeChangeError
p.
  Nyní již bude přechod na stránku zastaven, ale při obnovení stránky zůstane nepřihlášený uživatel na prázdné stránce.
  Router při chybě posílá zprávu #[strong $routeChangeError], na kterou můžeme reagovat.
ul
  li.task reagujte na zprávu #[strong $routeChangeError] v sekci #[strong .run] (#[em app.js]) přesměrováním na titulní stranu

solution
  :highlight-js
    .run(function ($rootScope, $location) {
      $rootScope.$on('$routeChangeError', function () {
        $location.path('/');
      });
    })

ul
  li.taks ověřte, že po přístupu na vytvoření záznamu a zrušení přihlášení, bude uživatel přesměrován na seznam

h3 6 - EXTRA
p Zkuste se zamyslet, jak by vypadala konfigurace, kdybychom použili #[strong ui-router]
ul
  li jak by jste mohli využít custom data stavů a reagovat na ně v události #[strong $stateChangeStart].
  li máte-li chuť, zkuste aplikaci upravit sami, případně si prohlédněte řešení s ui routerem v (#[em complete/app.ui-router.js])
