<!DOCTYPE html>
<html ng-app="directiveApp">
<head>
  <meta charset="utf-8">
  <title>08-directive-basic | Angular.cz</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

    .btn.active, .btn.active:focus {
      color: #fff;
      background-color: #5bc0de;
      border-color: #46b8da;
    }

    .btn.active:hover {
      color: #fff;
      background-color: #31b0d5;
      border-color: #269abc;
    }

  </style>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body>
<!-- Přepínání cvičení - ignorujte @formatter:off--><div style="padding:20px" class="text-center"><a href="/07-di-provider" style="float:left" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> 07-di-provider</a><span class="h3">08-directive-basic</span><a href="/09-directive-scope" style="float:right" class="btn btn-default">09-directive-scope<i class="glyphicon glyphicon-chevron-right"></i></a><div class="clearfix"></div><hr class="clearfix"/></div><!-- @formatter:on-->

<div class="container">
  <h1>Poptávka nemovitosti</h1>

  <div class="row well">
    <div class="col-sm-6" ng-controller="RealityCtrl as reality">

      <h2>Druh nemovitosti</h2>

      <p>
        <label class="radio-inline">
          <input type="radio" ng-model="reality.type" value="ground"/>
          Pozemek
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="reality.type" value="house"/>
          Dům
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="reality.type" value="comercial"/>
          Komerční prostory
        </label>
      </p>

      <!--TODO 1.1 - použijte ng-show-->
      <div>
        <h2>Parametry pozemku</h2>
        <h4>Velikost</h4>

        <div class="form-inline" role="form">
          <div class="form-group">
            <label>Od
              <input type="number" class="form-control" ng-model="reality.ground.min">
            </label>
          </div>
          <div class="form-group">
            <label>Do
              <input type="number" class="form-control" ng-model="reality.ground.max">
            </label>
          </div>
        </div>
      </div>

      <!--TODO 1.2 - použijte ng-if-->
      <div>
        <h2>Parametry domu</h2>

        <div class="form-group form-inline">
          <label>Počet místností
            <input type="number" class="form-control" ng-model="reality.rooms">
          </label>
        </div>

        <h4>Vlastnosti</h4>

        <label class="checkbox-inline">
          <input type="checkbox" ng-model="reality.properties.new"> Novostavba
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="reality.properties.energy"> Nízkoenergetický
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="reality.properties.garage"> Garáž
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="reality.properties.well"> Studna
        </label>
      </div>

      <h2>Lokalita</h2>

      <div class="row form-inline">
        <div class="col-sm-12 well well-sm">
          Vybraná lokalita: {{reality.selectedLocality.name}}
        </div>

        <!--TODO 2.1 - iterujte přes pole reality.localities -->
        <div class="radio col-sm-6">
          <label>
            <!--TODO 2.2 - oživte radio button -->
            <input type="radio" ng-model="reality.selectedLocality" name="locality" />
            Vysočina
          </label>
        </div>

      </div>

    </div>

    <div class="col-sm-6">
      <div ng-controller="InfoCtrl as info">
        <h2>Informace</h2>

        <div class="btn-group">
          <!--TODO 5 - zvýraznění tlačítka-->
          <!--TODO 4.1 - akce pro výběr tabu-->
          <button type="button" class="btn btn-default">O nás</button>
          <button type="button" class="btn btn-default">Reference</button>
          <button type="button" class="btn btn-default">Kontakty</button>
        </div>

        <div>
          <!--TODO 4.2 - zobrazení tabu-->
          <div>
            <h4>O nás</h4>
            Naše kancelář se zabývá prodejem a pronájmem bytů, domů či komerčních prostor, prodejem pozemků i
            developerských projektů již přes 15 let. Na trhu působíme od roku 1997 a vznikli jsme jako ryze česká
            společnost bez zahraničního či úvěrového kapitálu.
          </div>
          <div>
            <h4>Reference</h4>

            <p>Česká národní banka využila opakovaně v letech 2012 a 2013 služeb Vaší realitní kanceláře, pobočky Praha,
              a to v oblasti pronájmu bytů v majetku ČNB. </p>
          </div>

          <div>
            <h4>Kontakty</h4>
            V případě, že nás budete chtít navštívit v kancelářích přímo v centru Prahy, objednejte se prosím nejdříve
            telefonicky, aby se Vám mohl plně věnovat konkrétní manažer. Pro naše klienty máme připraveno parkování v
            podzemní garáži.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--TODO 3 - vložení copyrightu-->
  <div class="small text-center"></div>

</div>
</body>
</html>
