<!DOCTYPE html>
<html lang="en" ng-app="moduleExample">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>03-scope | Angular.cz</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <script src="/bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body>
<!-- Přepínání cvičení - ignorujte @formatter:off--><div style="padding:20px" class="text-center"><a href="/02-controller" style="float:left" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> 02-controller</a><span class="h3">03-scope</span><a href="/04-protractor" style="float:right" class="btn btn-default">04-protractor<i class="glyphicon glyphicon-chevron-right"></i></a><div class="clearfix"></div><hr class="clearfix"/></div><!-- @formatter:on-->

<div class="container">
  <div class="row" ng-controller="UserController as vm">

    <div class="col-md-offset-1 col-md-4 well">
      <label for="userName">Jméno</label>
      <input id="userName" class="form-control" ng-model="vm.user.name">
      <label for="userSurname">Příjmení</label>
      <input id="userSurname" class="form-control" ng-model="vm.user.surname">
      <label for="yearOfBirth">Rok narození</label>
      <input id="yearOfBirth" class="form-control" type="number" ng-model="vm.user.yearOfBirth">
    </div>

    <!-- TODO 3 - doplňte one-time binding -->
    <div class="col-md-offset-1 col-md-5 well">
      Jméno: {{vm.user.name}}<br/>
      Příjmení: {{vm.user.surname}}<br/>
      Věk: {{vm.getAge()}}<br/>
    </div>

    <!--TODO 6.1 - přesuňte blok mimo div s UserControllerem-->
    <div ng-controller="CountController as countCtrl" class="well col-md-12">
      Počet změn yearOfBirth: {{countCtrl.count}}
    </div>
  </div>
</div>

</body>
</html>
