p Vyzkoušejte si end2end testy v nástroji protractor. Testy budou testovat, že při změně obsahu formuláře s uživatelskými údaji dojde k propsání informace do vedlejšího sloupce.

h3 1. spusťtě e2e test
ul.task
  li musíte mít stále spuštěný server s příklady
  li v novém terminálu ve složce příkladů spusťte

snippet.
  npm run test-04-protractor-e2e

p Příkaz spustí dva testy, první zkontroluje iniciální nastavení, druhý pak změnu jména a propsání hodnoty.

h3 2. podívejte se jak je test napsaný
ul.task
  li Prozkoumejte soubor s testy #[em protractor-test.js]

h3 3. Změňte výpis jména na one-time binding
ul.task
  li v souboru #[em index.html] změňte výpis jména na one-time binding
  li vyzkoušejte, že test nyní neprojde a prohlédněte si chybovou hlášku
  li poté one-time binding opět odstraňte a ověřte že testy znovu prochází

hint One-time binding se uvádí #[strong ::] před výrazem

solution
  :highlight-html
    <div>Jméno: {{::vm.user.name}}</div>

h3 4 - vytvořte nový test

p Napište test, který testuje, že změna roku narození se projeví ve výpisu věku

ul.task
  li v souboru #[em protractor-test.js] vytvořte test pojmenovaný #[strong should change age if yearOfBirth is changed]
  li nastavte hodnotu modelu #[strong vm.user.yearOfBirth] na svůj rok narození
  li očekávejte změnu bindingu #[strong vm.getAge()] na Váš věk
    ul
      li pozor, metoda #[strong toMatch] očekává na vstupu řetězec nikoli číslo
      li můžete vyzkoušet také matcher #[strong toBe] a jeho chování
  li test můžete ještě zobecnit, aby nebyl vázán na aktuální věk

hint
  ul
    li vyjít můžete z testu #[strong should change name if model is changed] a modifikovat použití metod:

    ul
      li .sendKeys
      li by.binding - přijímá expression tak jak je zadána v šabloně
      li .toMatch - přijímá řetězec nebo regulární výraz

solution
  :highlight-js
    it('should change age if yearOfBirth is changed', function() {
      var now = new Date();
      var expectedYear = now.getFullYear() - 1970;

      var yearOfBirthInput = element(by.model('vm.user.yearOfBirth'));
      yearOfBirthInput.clear().sendKeys(1970);

      var ageText = element(by.binding('vm.getAge()')).getText();
      expect(ageText).toMatch(expectedYear.toString());
    });

h2 EXTRA
h3 5. Pokuste se upravit testy tak, aby používaly Page object pattern

p Jde o to, zapouzdřit elementy a případně také nastavení a získání hodnoty do samostatného objektu, který v beforeEach inicializujete a v testech používáte.

ul.task
  li Pokuste se vytvořit page object zapouzdřující práci s elementy a použít jej v testech

ul
  li Ukazatelem úspěchu budou nadále procházející testy

solution
  :highlight-js
    var UserNamePO = function() {
      this.name = element(by.binding('vm.user.name'));
      this.nameInput= element(by.model('vm.user.name'));
      this.surname = element(by.binding('vm.user.surname'));
      this.surnameInput= element(by.model('vm.user.surname'));

      this.setNameInput = function(text) {
        this.nameInput.clear().sendKeys(text);
      };

      this.getNameInput = function() {
        return this.nameInput.getAttribute('value');
      };

      this.getName = function() {
        return this.name.getText();
      };

      this.getSurnameInput = function() {
        return this.surnameInput.getAttribute('value');
      };

      this.getSurname = function() {
        return this.surname.getText();
      };

      this.goTo = function() {
        browser.get('index.html');
      };

      this.yearOfBirthInput = element(by.model('vm.user.yearOfBirth'));
      this.age =  element(by.binding('vm.getAge()'));

      this.setYearOfBirth = function(year) {
        this.yearOfBirthInput.clear().sendKeys(year);
      };

      this.getAge = function() {
        return this.age.getText();
      };
    };

    describe('04-protractor example tested with page object', function() {

      var pageObject;
      beforeEach(function() {
        pageObject = new UserNamePO();
        pageObject.goTo();
      });

      it('should have initial settings', function() {
        expect(pageObject.getNameInput()).toBe('Petr');
        expect(pageObject.getName()).toMatch('Petr');

        expect(pageObject.getSurnameInput()).toBe('Novák');
        expect(pageObject.getSurname()).toBe('Příjmení: Novák');
      });

      it('should change age if model is changed', function() {
        var now = new Date();
        var expectedYear = now.getFullYear() - 1970;

        pageObject.setYearOfBirth('1970');
        expect(pageObject.getAge()).toMatch(expectedYear.toString());
      });

      it('should change name if model is changed', function() {
        pageObject.setNameInput('Josef');
        expect(pageObject.getName()).toMatch('Josef');
      });

    });

