<!DOCTYPE html>
<html lang="en" ng-app="bacon">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>09-directive-scope | Angular.cz</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="service.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="BaconController as bacon">
<!-- Přepínání cvičení - ignorujte @formatter:off--><div style="padding:20px" class="text-center"><a href="/08-directive-basic" style="float:left" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> 08-directive-basic</a><span class="h3">09-directive-scope</span><a href="/10-component" style="float:right" class="btn btn-default">10-component<i class="glyphicon glyphicon-chevron-right"></i></a><div class="clearfix"></div><hr class="clearfix"/></div><!-- @formatter:on-->

<div class="container">

  <!-- TODO 1 -->
  <h3>bacon-ipsum</h3>
  <bacon-ipsum></bacon-ipsum>
  <hr/>

  <!--   TODO 2
    <h3>bacon-ipsum s parametrem paragraphs="2"</h3>
    <bacon-ipsum paragraphs="2"></bacon-ipsum>
    <hr />
  -->

  <!-- TODO 3
    <input ng-model="bacon.title3"/>
    <bacon-ipsum title="{{bacon.title3}}"></bacon-ipsum>
    <hr />
  -->
</div>
</body>
</html>
